DATABASE_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require

PGHOST=HOST
PGHOST_UNPOOLED=HOST
PGUSER=USER
PGDATABASE=DATABASE
PGPASSWORD=PASSWORD

POSTGRES_URL=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require
POSTGRES_USER=USER
POSTGRES_HOST=HOST
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DATABASE=DATABASE
POSTGRES_URL_NO_SSL=postgresql://USER:PASSWORD@HOST/DATABASE
POSTGRES_PRISMA_URL=postgresql://USER:PASSWORD@HOST/DATABASE?connect_timeout=15&sslmode=require
